In [1]:
import sqlalchemy as db

In [2]:
engine=db.create_engine("postgresql://postgres:****@localhost:5432/automobile")

In [3]:
result_set = engine.execute("SELECT * FROM customer")

In [4]:
from sqlalchemy import Table, Column, String, MetaData

In [5]:
import psycopg2

In [6]:
meta=MetaData(engine)

In [7]:
menu = """Please select one of the following options:
1) Entity management.
2) Entity Search.
3) Perform a specific query.
4) Exit.
Your selection: """""

In [8]:
menu_management = """Please select one of the following options:
1) Insert
2) Delete
3) Update
4) Back

Your selection: """

In [9]:
menu_search='''
1) Search Using Customer's Name
2) Search Using Order ID
3) Search Using Customer's ID
4) Search Using VIN
5) Back

Your selection:'''

In [10]:
menu_query='''
1) Find Final Price using Customer's Name & Customer's ID
2) Find Model's Prices per version using Model ID
3) Back
Your selection:'''

In [11]:
tables=['brand','customer','dealer','model','orders','vehicle']

In [12]:
def which_table_to_insert():
    while (user_input := input(f'choose a table to insert into from{tables}')) != 'brand' and user_input != 'customer' and user_input != 'dealer' and user_input != 'model' and user_input != 'orders'and user_input != 'vehicle':
        print('try again')
        print(tables)
    else:
        global x
        x=user_input
        insert_into(x)

In [13]:
def which_table_to_delete():
    while (user_input := input(f'choose a table to delete from{tables}')) != 'brand' and user_input != 'customer' and user_input != 'dealer' and user_input != 'model' and user_input != 'orders'and user_input != 'vehicle':
        print('try again')
        print(tables)
    else:
        global x
        x=user_input
        delete_from(x)

In [14]:
def which_table_to_update():
    while (user_input := input(f'choose a table to update a value from{tables}')) != 'brand' and user_input != 'customer' and user_input != 'dealer' and user_input != 'model' and user_input != 'orders'and user_input != 'vehicle':
        print('try again')
        print(tables)
    else:
        global x
        x=user_input
        update_from(x)

In [15]:
def specific_query1():
    conn = psycopg2.connect(host="localhost", port=5432,dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    cust_name = input("Enter customer's name ")
    cust_phone = input("Enter customer's ID ")
    cur.execute("select final_price,order_id FROM orders,customer  WHERE customer.cust_name= %s and orders.customer_id= %s and orders.customer_id=customer.customer_id",(cust_name,cust_phone))
    y=1
    for i in cur.fetchall():
                print('')
                print("The customer has paid: ", i[0],'for order ID ',i[1])
                y=0
    if y==1:
        print('')
        print ('Credentials not matching our database,please try again.')
    conn.commit()

In [16]:
def specific_query2():
    conn = psycopg2.connect(host="localhost", port=5432,dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    cust_name = input("Enter Model ID ")
    cur.execute("select plain,extra,fullextra FROM model  WHERE model_id= %s ",(cust_name,))
    y=1
    for i in cur.fetchall():
                print('')
                print("The Plain version costs ",i[0])
                print('')
                print("The Extra version costs ",i[1])
                print('')
                print("The Full Extra version costs ",i[2])
                print('')
                y=0
    if y==1:
        print('')
        print ('Database does not include this model ID,please try again.')
    conn.commit()

In [17]:
def  update_from(a):
    conn = psycopg2.connect(host="localhost", port=5432,
                            dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    
    if a == 'customer':
        customer_id= input('''Enter customer's ID:''')
        cust_name = input("Enter customer's Name: ").upper()
        cust_address = input("Enter customer's adress: ")
        cust_phone = input("Enter customer's phone number: ")
        cur.execute(f"UPDATE {a} SET cust_name=%s ,cust_address=%s,cust_phone=%s WHERE customer_id =%s ",
        (cust_name,cust_address,cust_phone,customer_id,))
        conn.commit()
    elif a == 'brand':
        update_brand_id= input('''Enter Brand ID you want to update:''')
        brand= input("Enter brand's Name: ").upper()
        cur.execute(f"UPDATE {a} SET  brand=%s WHERE brand_id = %s",
        (brand,update_brand_id))
        conn.commit()
    elif a == 'dealer':
        update_dealer_id= input('''Enter Dealer ID you want to update:''')
        update_dealer_name=input('''Enter Dealer name you want to update:''')
        update_dealer_phone=input('''Enter Dealer phone you want to update:''')
        update_dealer_address=input('''Enter Dealer address you want to update:''')
        cur.execute(f"UPDATE {a} SET dealer_name=%s,dealer_phone=%s,dealer_address=%s WHERE dealer_id = %s",
        (update_dealer_name,update_dealer_phone,update_dealer_phone,update_dealer_id))
        conn.commit()
    elif a == 'model' :
        update_model_id= input('''Enter Model ID you want to update:''')
        update_plain=input('''Enter plain you want to update:''')
        update_extra=input('''Enter extra you want to update:''')
        update_fullextra=input('''Enter fullextra you want to update:''')
        cur.execute(f"UPDATE {a} SET plain=%s,extra=%s,fullextra=%s WHERE model_id = %s",
        (update_plain,update_extra,update_fullextra,update_model_id))
        conn.commit()
    elif a == 'orders':
        update_order_id = input("Enter order_id you want to update: ")
        update_customer_id=input("Enter customer_id you want to update: ")
        update_final_price=input("Enter final_price you want to update: ")
        
        cur.execute(f"UPDATE {a} SET customer_id=%s,final_price=%s WHERE order_id = %s",
        (update_customer_id,update_final_price,update_order_id))
        conn.commit()
    elif a == 'vehicle':
        update_vehicle_id= input('''Enter vin you want to update:''')
        update_brand_id = input("Enter brand_id you want to update: ")
        update_model_id=input("Enter model_id you want to update: ")
        update_dealer_id=input("Enter dealer_id you want to update: ")
        
        cur.execute(f"UPDATE {a} SET brand_id=%s,model_id=%s,dealer_id=%s WHERE vin = %s",
        (update_brand_id,update_model_id,update_dealer_id,update_vehicle_id))
        conn.commit()

In [18]:
def insert_into(a):
    conn = psycopg2.connect(host="localhost", port=5432,
                            dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    if a == 'customer':
        c_id= input('''Enter customer's ID:''')
        c_name = input("Enter customer's Name: ").upper()
        c_adress = input("Enter customer's adress: ")
        c_phone = input("Enter customer's phone number: ")
        cur.execute(f"INSERT INTO {a} (customer_id, cust_name, cust_address, cust_phone) VALUES (%s, %s, %s, %s)",
                    (c_id, c_name, c_adress, c_phone))
        conn.commit()
    elif a == 'brand':
        brand_id= input('''Enter Brand ID:''')
        brand = input("Enter brand's Name: ").upper()     
        cur.execute(f"INSERT INTO {a} (brand_id, brand) VALUES (%s, %s)",
                    (brand_id, brand))
        conn.commit()
    elif a == 'dealer':
        dealer_id= input('''Enter dealer's ID:''')
        dealer_name = input("Enter dealer's Name: ").upper()
        dealer_phone = input("Enter dealer's phone: ")
        dealer_address = input("Enter dealer's address: ")
        cur.execute(f"INSERT INTO {a} (dealer_id, dealer_name, dealer_phone, dealer_address) VALUES (%s, %s, %s, %s)",
                    (dealer_id, dealer_name, dealer_phone, dealer_address))
        conn.commit()
    elif a == 'model' :
        model_id= input('''Enter model ID:''')
        brand_id = input("Enter brand ID: ").upper()
        plain = input("Enter plain price: ")
        extra = input("Enter extra price: ")
        fullextra = input("Enter full extra price: ")
        cur.execute(f"INSERT INTO {a}  (model_id, brand_id, plain, extra,fullextra) VALUES (%s, %s, %s, %s, %s)",
                    (model_id, brand_id, plain, extra,fullextra))
        conn.commit()
    elif a == 'orders':
        order_id= input('''Enter order ID:''')
        customer_id = input("Enter customer's ID: ").upper()
        final_price = input("Enter final price: ")
        dealer_id = input("Enter dealer's ID: ")
        cur.execute(f"INSERT INTO {a}  (order_id, customer_id, final_price, dealer_id) VALUES (%s, %s, %s, %s)",
                    (order_id, customer_id, final_price, dealer_id))
        conn.commit()
    elif a == 'vehicle':
        vin= input('''Enter vin:''')
        brand_id= input('''Enter brand ID:''')
        model_id = input("Enter model ID: ").upper()
        dealer_id = input("Enter dealer ID: ")
        cur.execute(f"INSERT INTO {a}  (vin, brand_id, model_id, dealer_id) VALUES (%s, %s, %s, %s)",
                    (vin, brand_id, model_id, dealer_id))
        conn.commit()

In [19]:
def  delete_from(a):
    conn = psycopg2.connect(host="localhost", port=5432,
                            dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    
    if a == 'customer':
        del_customer_id = input("Enter customer_id you want to delete: ")
        cur.execute(f"DELETE FROM {a} WHERE customer_id = %s",
        (del_customer_id,))
        conn.commit()
    elif a == 'brand':
        del_brand_id= input('''Enter Brand ID you want to delete:''')
        cur.execute(f"DELETE FROM {a} WHERE brand_id = %s",
        (del_brand_id,))
        conn.commit()
    elif a == 'dealer':
        del_dealer_id= input('''Enter Dealer ID you want to delete:''')
        cur.execute(f"DELETE FROM {a} WHERE dealer_id = %s",
        (del_dealer_id,))
        conn.commit()
    elif a == 'model' :
        del_model_id= input('''Enter Model ID you want to delete:''')
        cur.execute(f"DELETE FROM {a} WHERE model_id = %s",
        (del_model_id,))
        conn.commit()
    elif a == 'orders':
        del_orderr_id = input("Enter order_id you want to delete: ")
        cur.execute(f"DELETE FROM {a} WHERE order_id = %s",
        (del_order_id,))
        conn.commit()
    elif a == 'vehicle':
        del_vehicle_id= input('''Enter vin you want to delete:''')
        cur.execute(f"DELETE FROM {a} WHERE vin = %s",
        (del_vehicle_id,))
        conn.commit()

In [20]:
def search_function1():
    conn = psycopg2.connect(host="localhost", port=5432,dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    cust_name = input("Enter customer's name")
    cur.execute("select * FROM customer  WHERE cust_name= %s",(cust_name,))
    for i in cur.fetchall():
        print('')
        print("ID:", i[0])
        print("Name: ", i[1])
        print("Address: ", i[2])
        print("Phone Number: ", i[3])
    conn.commit()

In [21]:
def search_function2():
    conn = psycopg2.connect(host="localhost", port=5432,dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    order_id = input("Enter order ID")
    cur.execute("select * FROM orders  WHERE order_id= %s",(order_id,))
    for i in cur.fetchall():
        print('')
        print("Order_ID:", i[0])
        print("Customer_ID: ", i[1])
        print("Final_Price: ", i[2])
        print("Dealer_ID: ", i[3])
    conn.commit()

In [22]:
def search_function3():
    conn = psycopg2.connect(host="localhost", port=5432,dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    customer_id = input("Enter customer ID")
    cur.execute("select * FROM customer  WHERE customer_id= %s",(customer_id,))
    for i in cur.fetchall():
        print('')
        print("Customer_ID:", i[0])
        print("Customer Name: ", i[1])
        print("Customer Address: ", i[2])
        print("Customer Phone: ", i[3])
    conn.commit()

In [23]:
def search_function4():
    conn = psycopg2.connect(host="localhost", port=5432,dbname="automobile", user='postgres', password='0000')
    cur = conn.cursor()
    vin = input("Select VIN")
    cur.execute("select vehicle.vin,cust_name,order_id,brand,model.model_id,dealer_name,final_price from vehicle,brand,model,dealer,customer,orders WHERE vehicle.brand_id=brand.brand_id and vehicle.dealer_id=dealer.dealer_id and vehicle.model_id=model.model_id and dealer.dealer_id=orders.dealer_id and customer.customer_id=orders.customer_id and vehicle.vin=orders.vin and vehicle.vin=%s",(vin,))
    for i in cur.fetchall():
        print('')
        print("Vin:", i[0])
        print("Customer Name: ", i[1])
        print("Order ID: ", i[2])
        print("Model: ", i[3],i[4])
        print('Dealer Name',i[5])
        print('Final Price',i[6])
    conn.commit()

In [24]:
def entity_management():
    while (user_input := input(menu_management)) != "4":
        if user_input == "1":
            which_table_to_insert()
        elif user_input == "2":
            which_table_to_delete()
        elif user_input == "3":
            which_table_to_update()
        else:
            print("Invalid option, please try again!")

In [25]:
def entity_search():
    while (user_input :=input(menu_search)) !='5':
        if user_input == '1':
            search_function1()
        elif user_input =='2':
            search_function2()
        elif user_input =='3':
            search_function3()
        elif user_input =='4':
            search_function4()
        else:
            break

In [26]:
def specific_query():
    while (user_input := input(menu_query)) != "3":
        if user_input =='1':
            specific_query1()
        elif user_input =='2':
            specific_query2()
        else:
            break

## Menu

In [28]:
while (user_input := input(menu)) != "4":
    if user_input == "1":
        entity_management()
    elif user_input == "2":
        entity_search()
    elif user_input =='3':
        specific_query()
    else:
        print("Invalid option, please try again!")

Please select one of the following options:
1) Entity management.
2) Entity Search.
3) Perform a specific query.
4) Exit.
Your selection: 2

1) Search Using Customer's Name
2) Search Using Order ID
3) Search Using Customer's ID
4) Search Using VIN
5) Back

Your selection:4
Select VIN712

1) Search Using Customer's Name
2) Search Using Order ID
3) Search Using Customer's ID
4) Search Using VIN
5) Back

Your selection:3
Enter customer ID712

Customer_ID: 712
Customer Name:  Quemby Woodward
Customer Address:  120-7367 Metus Road
Customer Phone:  3215825100

1) Search Using Customer's Name
2) Search Using Order ID
3) Search Using Customer's ID
4) Search Using VIN
5) Back

Your selection:5
Please select one of the following options:
1) Entity management.
2) Entity Search.
3) Perform a specific query.
4) Exit.
Your selection: 4